.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: sans-serif;
}

.top {
  padding: 30px;
  background-image: url("https://www.esri.com/content/dam/esrisites/en-us/arcgis/location-services/overview/assets/arcgis-platform-large-banner-fg.jpg");
}

.main-area {
  background-color: white;
  min-height: 300px;
  width: 100%;
  max-width: 1400px;
  padding: 30px;
  border-radius: 3px;
  border-color: #dddddd;
  box-shadow: 0px 0px 10px;
  border: 1px solid rgb(240, 234, 234);
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.service-area {
  background-color: white;
  min-height: 200px;
  width: 100%;
  max-width: 1400px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px;
  border: 1px solid rgb(240, 234, 234);
  margin: 0 auto;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
}

.main-title {
  font-size: 40px;
}

.rate-input {
  border: 1px solid;
  border-radius: 1px;
  border-color: #eeeeee;
  height: 25px;
  width: 120px;
  font-size: 30px;
  padding: 6px 16px;
  margin: 10px;
  outline: none;
  color: #595959;
}

.total-price {
  font-size: 30px;
  text-align: right;
  color: #595959;
}

.service-title {
  font-size: 30px;
}

.main-feature {
  font-size: 30px;
}

.sub-feature {
  font-size: 20px;
}

.main-feature-description {
  font-size: 17px;
  color: #595959;
}

.sub-feature-unit {
  font-size: 20px;
  color: #595959;
  text-align: left;
}

.feature-price-description {
  font-size: 15px;
  font-style: italic;
  color: #595959;
}

.sub-feature-price {
  font-size: 20px;
}
