.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: sans-serif;
}

.rate-input {
  border: 1px solid;
  border-radius: 1px;
  border-color: #eeeeee;
  height: 25px;
  width: 50px;
  font-size: 30px;
  padding: 6px 16px;
  margin: 10px;
  outline: none;
  color: #595959;
}

.main-area {
  background-color: white;
  width: "100%";
  min-height: 350px;
  padding: 8px;
  margin: 8px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #dddddd;
}

.service-area {
  background-color: white;
  width: "100%";
  min-height: 200px;
  padding: 8px;
  margin: 8px;
}

.main-title {
  font-size: 40px;
}

.service-title {
  font-size: 30px;
}

.main-feature {
  font-size: 30px;
}

.sub-feature {
  font-size: 20px;
}

.main-feature-description {
  font-size: 17px;
  color: #595959;
}

.sub-feature-unit {
  font-size: 20px;
  color: #595959;
  text-align: left;
}

.feature-price-description {
  font-size: 15px;
  font-style: italic;
  color: #595959;
}

.total-price {
  font-size: 30px;
  text-align: right;
  color: #595959;
}

.sub-feature-price {
  font-size: 20px;
}
